<header class="text-gray-600">
  <div class="mx-8 flex flex-wrap p-3 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="<%= root_path %>">
      <span class="ml-3 text-xl">AppLogger</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <% active_class = 'bg-gray-100 rounded' %>
      <%
        [
          ['Entries', entries_path],
          ['Logs', logs_path]
        ].each do |name, path|
      %>
        <% active = request.path == path || (request.path == root_path && name == 'Entries') %>
        <%= link_to name, path, class: "py-1 px-3 mr-5 hover:text-gray-900 #{active_class if active}" %>
      <% end %>
    </nav>
  </div>
</header>
